body {
    background-color: black;
}

.post {
    display: block;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 650px;

}

.post-header {
    overflow: hidden;
    max-height: 100px;
}

.post-text {
    margin: 10px;
}

.fas {
    float: right;
}
.fa-html5 {
     size: 30px;
     float: left;
}

.icons{
    float: left;
    width: 19%;
    margin: 10px;
}

.html {
    float: right;
    padding: 0%;
    margin: 0px;
}
.name {
    float: right;
    margin: 0px;
    margin-bottom: 10px;
    font-size: 12px;
}

.fa-ellipsis-v{
    margin: 10px;
}

.fa-bookmark {
    float: right;
}